.content-segment {
    width: 100%;
    height: 98vh;

    padding-top: 2vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

.content-header {
    width: 90%;
    height: 7vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: var(--lavender-pastel-font-1);
}

.content-header-side-button {
    width: 10%;

    font-size: var(--h2-font-size);
    text-align: center;

    cursor: pointer;
}

.content-header-title {
    width: 80%;

    font-size: var(--h1-font-size);
    text-align: center;

    user-select: none;

    transition: 0.4s ease;
}

.content-wrapper {
    width: 90%;
    height: 90vh;

    margin-top: 10px;
}

@media screen and (max-width: 800px) {
    .content-header-title {
        font-size: var(--h4-font-size);
    }
}
