@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
	--main-text-color: white;
	--main-background-color: #292C34;
	--border-color: #ae94b0;
}

/* Header Section */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: white;
}

header {
	height: 100px;
	background: var(--main-background-color, #292C34);
	padding: 20px;
}

img {
	object-fit: cover;
}

.container-header {
	position: relative;
	text-decoration: none;
	display: flex;
	align-items: center;
	border-bottom: 3px solid var(--border-color, #ae94b0);
}

.container-logo {
	position: absolute;
	text-decoration: none;
	display: flex;
	flex: 0 1 auto;
	left: 5%;
}

.logo-image {
	margin: 2px 10px;
	height: 10%;
	border: 5px solid white;
	border-radius: 10%;
}

.logo-text {
	margin: 8px 10px;
	color:  var(--main-text-color, white);
	text-align: center;
	font-size: 30px;
	font-family: Lobster, Asap, sans-serif;
}

@media (max-width: 900px) {
	.logo-text {
		display: none;
	}
}

.container-links {
	margin: 0px 0px;
	padding: 0px 0px;
	margin-left: auto;
	display: flex;
	flex: 0 1 auto;
	color: white;
	text-align: center;
	font-family: Asap, sans-serif;
	font-weight: bold;
	font-size: 25px;
}

.container-links-objects {
	margin: 0px 15px;
	color: white;
	text-decoration: none;
}

/* Slideshow Section */
.container-slideshow {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

/* -- Hides the display by default */
.mySlides {
	display: none;
}

.slideshow-previous, .slideshow-next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-size: 18px;
	font-family: Asap, sans-serif;
	font-weight: bold;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.slideshow-next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.slideshow-previous:hover, .slideshow-next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.slideshow-caption-text {
	color: var(--main-text-color, white);
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

.slide-number {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.slideshow-dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.slideshow-dot-active, .slideshow-dot:hover {
	background-color: #717171;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity:  0.4}
	to {opacity: 0.1}
}

@keyframes fade {
	from {opacity:  0.4}
	to {opacity: 0.1}
}

/* About Section */
.container-about {
	background: #292C34;
	border-top: 5px solid var(--border-color, #ae94b0);
	border-bottom: 5px solid var(--border-color, #ae94b0);
	margin: 10px 0px;
	padding: 5px 0px;
	color: white;
	text-align: justify;
}

h4 {
	margin: 5px 20px;
	padding: 5px 10px;
	font-family: Asap, sans-serif;
	font-size: 30px;
	font-weight: bolder;
}

p {
	margin: 5px 20px;
	padding: 5px 10px;
	font-family: Asap, sans-serif;
	font-size: 20px;
}