.fac-wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    --head-color: var(--lavender-pastel-4);
    --tail-color: var(--lavender-pastel-2);
    --thickness-color: var(--lavender-pastel-3);
}

.fac-container {
    width: max(350px, 50%);
    height: 100%;
}

.fac-coin-container {
    width: 100%;
    height: 70%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* to make the coin bigger */
    font-size: var(--h1-font-size);
}

/* Buttons */
.fac-buttons {
    width: 100%;
    height: 28%;

    margin-top: 2%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fac-button {
    width: 200px;
    height: auto;

    padding: 10px;

    border: none;
    border-radius: 69420px;
    outline: none;
    background-color: var(--lavender-pastel-2);

    font: inherit;
    font-size: var(--h1-font-size);
    font-family: var(--text-font);
}

/* Coin flipping */
.fac-coin {
    background: var(--head-color);
    width: 10em;
    height: 10em;
    border-radius: 50%;
    position: relative;
    -webkit-transform-style: preserve-3d;
}

.fac-coin::before {
    background-color: var(--tail-color);
    position: absolute;
    border-radius: 50%;
    content: "";
    height: 10em;
    width: 10em;
    -webkit-transform: translateZ(-0.75em);
}

.fac-coin::after {
    background-color: var(--tail-color);
    content: "";
    left: 4.25em;
    position: absolute;
    height: 10em;
    width: 0.75em;
    z-index: -10;
    -webkit-transform: rotateY(-90deg);
    -webkit-transform-origin: 100% 50%;
}

@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }

    25% {
        transform: rotateY(90deg);
    }

    50% {
        transform: rotateY(180deg);
    }

    75% {
        transform: rotateY(270deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

.fac-coin.fac-coin-heads {
    background-color: var(--head-color);
    position: absolute;
    border-radius: 50%;
    content: "";
    height: 10em;
    width: 10em;
    -webkit-transform: translateZ(-0.755em);
    border: 1px solid var(--head-color);
}

.fac-coin.fac-coin-tails {
    background-color: var(--tail-color);
    position: absolute;
    border-radius: 50%;
    content: "";
    height: 10em;
    width: 10em;
    -webkit-transform: translateZ(-0.005em);
    border: 1px solid var(--tail-color);
}

.fac-coin-flipping {
    animation: spin 0.5s ease-in-out infinite;
}

.paused {
    animation-play-state: paused;
}
