/* Image Text Title Card */
.image-text-title-card-container {
    width: 95%;
    height: auto;

    margin: 1% 0%;
    padding: 2%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: var(--teal-pastel-1);
    border-radius: 20px;

    transition: 0.4s ease;
}

.image-text-title-card-img {
    width: 30%;
    height: auto;

    align-self: center;

    transition: 0.4s ease;

    user-select: none;
}

.image-text-title-card-text {
    width: 67%;
    height: 100%;

    padding: 0% 2%;

    margin-bottom: 2%;

    display: flex;
    flex-direction: column;

    text-align: justify;
    text-justify: inter-word;
}

.image-text-title-card-text-title {
    width: 100%;
    height: 20%;

    font-size: var(--h2-font-size);
    font-family: var(--text-font);
    font-weight: bold;

    transition: 0.4s ease;
}

.image-text-title-card-text-subtitle {
    width: 100%;
    height: 80%;

    font-family: var(--text-font);
    font-size: var(--h4-font-size);

    transition: 0.4s ease;
    color: inherit;
}

@media screen and (max-width: 800px) {
    .image-text-title-card-img {
        display: none;
    }

    .image-text-title-card-text {
        width: 100%;
        margin: 2%;
    }

    .image-text-title-card-text-title {
        font-size: var(--h4-font-size);
    }

    .image-text-title-card-container {
        width: 100%;
    }
}

/* Text Title Cards */
.text-title-card-content {
    width: 100%;
}

/* Grid Title Cards */
.grid-title-cards-wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

.grid-title-cards-container {
    width: 100%;

    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 2px;
}

@media screen and (min-width: 500px) {
    .grid-title-cards-container {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)) !important;
    }
}

.grid-title-card {
    width: max(200px, width);
    height: auto;

    margin: 1%;
    padding: 1%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

.grid-title-card-img {
    width: 100%;
    height: auto;

    border-radius: 20px;

    user-select: none;
    transition: 0.4s ease;
}

.grid-title-card:nth-child(odd) .grid-title-card-bg-color {
    background-color: var(--pink-pastel-1);
}

.grid-title-card:nth-child(even) .grid-title-card-bg-color {
    background-color: var(--yellow-pastel-1);
}

.grid-title-card-title {
    width: 100%;
    height: auto;

    margin-bottom: 15px;

    font-size: min(var(--h4-font-size), 2vw);
    color: var(--lavender-pastel-font-1);
    text-align: center;
    font-weight: bold;

    transition: 0.2s ease;
}

.grid-title-card-title:hover {
    color: var(--lavender-pastel-1);
}

.grid-title-card-view-more-button {
    width: 180px;
    height: auto;

    margin-top: 2%;
    padding: 4px;

    outline: transparent;
    background-color: var(--lavender-pastel-2);
    border: none;
    border-radius: 4px;

    font-size: var(--h5-font-size);
    color: white;
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
    text-align: center;

    transition: 0.2s ease;
}

.grid-title-card-view-more-button:hover {
    background-color: var(--lavender-pastel-3);
}

@media screen and (max-width: 800px) {
    .grid-title-card-title {
        font-size: var(--h5-font-size);
    }
}
