.segment-container {
    width: 90%;
    height: auto;

    margin: 3% 0px;
    padding: 0% 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    color: var(--lavender-pastel-font-1);
}

.segment-header {
    width: 70%;
    height: 10%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: var(--h1-font-size);
    font-weight: bold;

    text-align: center;
}

.segment-header-circle {
    margin: 0px 10px;

    color: var(--lavender-pastel-3);
}

.segment-header-circle-container {
    white-space: nowrap;
}

.segment-header-title {
    white-space: nowrap;

    margin: 0px 20px;
}

.segment-body {
    width: 70%;
    height: 80%;

    margin-top: 5%;
}
