.segment-container {
    width: 90%;
    height: auto;

    padding: 0% 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    color: var(--lavender-pastel-font-1);

    transition: 0.4s ease;
}

.segment-header {
    width: 70%;
    height: 10%;

    margin-top: 3%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-size: min(var(--h1-font-size), 2vw);
    font-weight: bold;

    text-align: center;
}

.segment-header-title {
    width: auto;
    padding: 0% 2%;

    white-space: nowrap;

    background-color: white;

    transition: 0.4s ease;
}

.segment-header-title-padding {
    width: auto;
    height: 1em;

    background-image: url("./pink_dot.png");
    background-size: auto 0.6em;
    background-position: center center;
    background-repeat: space;
    background-clip: content-box;
    flex-grow: 1;
}

.segment-body {
    width: 70%;
    height: 80%;

    margin-top: 2%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .segment-container {
        width: 98%;
        margin: min(10%, 40px) 1%;
        padding: 0%;
    }

    .segment-header {
        width: 90%;
        font-size: var(--h4-font-size);
    }

    .segment-body {
        width: 90%;
    }
}
