.error404-container {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error404-img {
    width: max(300px, 20%);
    height: auto;

    font-family: var(--text-font);
}

.error404-text {
    width: auto;
    height: auto;

    font-family: var(--text-font);
    font-size: var(--h3-font-size);
}
