.header-container {
    width: 100%;
    height: 20vh;

    background-color: var(--lavender-pastel-4);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    user-select: none;

    overflow: hidden;
}

/* For logo */
.logo-container {
    width: auto;
    height: 90%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    font-size: var(--h0-font-size);
    color: var(--lavender-pastel-font-1);

    transition: 0.4s ease;
}

.logo-img {
    height: 90%;

    object-fit: fill;
}

.logo-title {
    width: auto;

    text-align: center;

    transition: 0.4s ease;
}

/* Hide logo title if screen too small */
@media screen and (max-width: 500px) {
    .logo-img {
        height: 60%;
    }

    .logo-container {
        flex-direction: column;
    }
}
