.header-container {
    width: 100%;
    height: 20vh;

    background-color: var(--lavender-pastel-4);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    user-select: none;

    overflow: hidden;

    transition: 0.2s ease;
}

/* For logo */
.logo-container {
    width: auto;
    height: 90%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    font-size: var(--h0-font-size);
    color: var(--lavender-pastel-font-1);

    transition: 0.4s ease;
}

.logo-img {
    height: 90%;

    object-fit: fill;
}

.logo-title {
    width: auto;

    text-align: center;

    transition: 0.4s ease;
}

/* Hide logo title if screen too small */
@media screen and (max-width: 600px) {
    .logo-img {
        height: 80%;
    }

    .logo-title {
        font-size: var(--h2-font-size) !important;
    }

    .header-container {
        height: 15vh;
    }
}

@media screen and (max-width: 800px) {
    .logo-title {
        font-size: var(--h1-font-size);
    }
}
