.carousel-main-container {
    width: 100%;
    height: 100%;

    margin: 10px 0px 10px 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    overflow-y: hidden;
}

.carousel {
    width: max(min(390px, 100vw), 85%) !important;
    height: calc(width / 20 * 9) !important;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.carousel-container {
    max-width: 80%;
    max-height: 100%;

    margin: 10px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: 0.4s ease;
}

.carousel-card {
    width: 100%;
    height: 100%;

    display: flex;
}

.carousel-card a {
    height: 100%;
}

.carousel-card img {
    object-fit: contain;
    user-select: none;
}

.control-arrow-custom {
    z-index: 2;

    border: none;
    outline: transparent;
    background: transparent;

    font-size: var(--h2-font-size);

    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .control-arrow-custom {
        display: none;
    }

    .carousel-container {
        max-width: 100%;
        max-height: 100%;
    }
}

.control-prev-custom {
    margin-right: 2%;
}

.control-next-custom {
    margin-left: 2%;
}

.fa-angle-right,
.fa-angle-left {
    transition: 0.3s ease;
    color: var(--lavender-pastel-font-1);
}

.fa-angle-right:hover,
.fa-angle-left:hover {
    color: var(--lavender-pastel-1);
}

.slider-wrapper {
    width: 100% !important;
    height: min(100%, 300px) !important;
}

.slider {
    height: 100% !important;
}
