.footer-wrapper {
    width: 100%;
    height: auto;

    margin-top: 20px;

    position: relative;
}

.footer-wrapper-sticky {
    margin-top: 14.5vh;
}

.footer-container {
    width: 100%;
    height: 10vh;

    position: relative;

    background-color: var(--lavender-pastel-4);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-container-sticky {
    position: fixed !important;
    bottom: 0px;

    margin-top: 5%;
}

.footer-container-left {
    width: 50%;

    padding-left: 5%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    font-family: var(--text-font);
    font-size: var(--h5-font-size);
}

.footer-container-left-img {
    width: auto;
    height: 10vh;

    overflow: visible;
}

.footer-container-left-text {
    margin-left: 2%;
}

.footer-container-right {
    width: 50%;

    padding-right: 5%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.footer-social-icon {
    margin: 2%;

    font-size: var(--h2-font-size);
    color: var(--lavender-pastel-font-grayscale);

    transition: 0.3s ease;
}

.footer-social-icon:hover {
    color: var(--lavender-pastel-0);
}

@media screen and (max-width: 500px) {
    .footer-container-left-img {
        display: none;
    }

    .footer-container {
        position: relative !important;
    }

    .footer-container-sticky {
        /* position: absolute !important; */
    }
}
