@font-face {
    font-family: "Lulo";
    src: url("./lulo-font.ttf");
}

/* Mostly constants and stuff */
:root {
    /* Font sizes */
    font-size: 100%;
    --h0-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.2rem;
    --h4-font-size: 1rem;
    --h5-font-size: 0.8rem;

    /* Font family */
    font-family: "Lulo", "Poppins", sans-serif;
    --title-font: "Lulo", "Poppins", sans-serif;
    --text-font: "Poppins", "sans-serif";

    /* Colo(u)rs */
    --lavender-pastel-0: #897197;
    --lavender-pastel-1: #a98bba;
    --lavender-pastel-2: #c5a4d4;
    --lavender-pastel-3: #e1cde4;
    --lavender-pastel-4: #f3e9f7;
    --lavender-pastel-5: #f9f5fc;

    --yellow-pastel-1: #ffefc4;

    --orange-pastel-1: #ffe175;
    --orange-pastel-2: #ffb443;

    --pink-pastel-1: #ffeeed;

    --blue-pastel-1: #def8ff;

    --teal-pastel-1: #e4fbf7;

    --lavender-pastel-font-1: #5d4542;
    --lavender-pastel-font-grayscale: #b4a3a3;
}

@media screen and (min-width: 2000px) {
    :root {
        font-size: 150%;
    }
}

body {
    margin: 0;
    z-index: 2;
    scroll-behavior: smooth;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

::selection {
    background-color: var(--lavender-pastel-2);
    color: white;
}

/* Cookie */
.cookie-button-wrapper {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cookie-button {
    padding: 10px !important;
    border-radius: 20px !important;
    font-size: var(--h4-font-size);
    font-family: var(--text-font);
    font-weight: bold;
    background-color: #72c9bc !important;
    color: var(--lavender-pastel-font-1) !important;
}

.cookie-button-decline {
    background-color: #ffaec0 !important;
}

.cookie-container {
    background-color: var(--lavender-pastel-3) !important;
    align-items: center !important;
    justify-content: center !important;
}

.cookie-content {
    font-size: var(--h4-font-size);
    font-family: var(--text-font);
    font-weight: bold;
    color: var(--lavender-pastel-font-1);
    text-align: center;
}

/* Transition */
.fadeIn {
    animation: 0.3s fadeIn forwards;
}

.fadeOut {
    animation: 0.3s fadeOut forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
