@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	overflow-x: hidden;
}

:root {
	--main-text-color: white;
	--main-background-color: #292C34;
	--body-background-color: #1f2833;
	--border-color: #0b0c10;
	--bluegreen-color: #66fcf1;
}

body {
	background-color: #1f2833;
}

a {
	text-decoration: none;
}

/* Universal classes */


/* Nav bar */
.header-nav {
	margin: 0px 0px;
	padding: 0px;
	width: 100%;
	height: 100px;

	position: fixed;
	top: 0px;

	background-color: none;

	transition: 0.2s ease;

	z-index: 1;
}

.header-container {
	margin: 0px 20px;
	padding: 10px;
	width: 100%;
	height: 100px;
	position: relative;

	display: flex;
	flex-direction: row;
	align-items: center;
}

.header-logo-container {
	margin: 0px 20px;
	padding: 0px 0px;
	width: auto;
	height: 80px;

	display: flex;
	flex-direction: row;
	align-items: center;
}

.header-logo {
	margin: 0px 0px;
	padding: 0px 0px;
	width: 60px;
	height: 60px;

	align-self: center;

	transition: 0.4s ease;
}

.header-logo-text {
	margin: auto 10px;
	padding: 20px 0px;
	width: auto;
	height: 80px;

	text-align: center;

	background-color: none;
	color: white;
	font-family: Amatic SC, sans-serif;
	font-size: 30px;
	font-weight: normal;

	transition: 0.4s ease;
}

.header-text-links {
	margin: 0px 10px;
	padding: 30px 0px;
	width: 450px;
	height: 120px;
	position: absolute;
	right: 5%;

	display: flex;
	flex-direction: row;

	transition: 1s ease;
}

.header-text-link {
	margin: 0px 20px;
	padding: 0px 0px;
	width: 20%;
	height: 50%;

	flex: auto;
	text-align: center;
	align-self: center;

	background-color: none;
	color: white;
	font-family: Source Sans Pro, sans-serif;
	font-size: 20px;
	font-weight: bolder;
}

.menu-container {
	margin: 0px 10px;
	padding: 30px 0px;
	width: 100px;
	height: 120px;
	position: absolute;
	right: 5%;

	display: flex;
	flex-direction: row;

	transition: 1s ease;
}

.menu-container-pressed {
	margin: 0px 10px;
	padding: 30px 0px;
	width: 100px;
	height: 120px;
	position: absolute;
	right: 5%;

	display: none;
	flex-direction: row;

	transition: 1s ease;
}

.menu-button {
	margin: auto;
	padding: 0px 0px;
	width: 30px;
	height: 35px;

	flex: auto;

	transition: 0.4s ease;
}

.menu-text {
	margin: auto;
	padding: 0px 0px;
	width: auto;
	height: 30px;

	flex: auto;

	background-color: none;
	color: white;
	font-family: Source Sans Pro, sans-serif;
	font-size: 20px;
	font-weight: bolder;

	transition: 0.4s ease;
}

/* Top body content */
.top-content-background {
	background: url("./assets/header-background.png");
	background-size: 100% 500px;
	object-fit: cover;

	margin: 0px 0px;
	padding: 0px 0px;
	width: 100%;
	height: 500px;

	display: flex;
	flex-direction: column;
	text-align: center;

	color: white;
	font-family: Source Sans Pro, sans-serif;
	font-size: 20px;

	transition: 0.4s ease;
}

.top-content-heading {
	margin: 120px 0px 0px 0px;
	padding: 0px 0px;

	color: var(--bluegreen-color, #66fcf1);
	font-family: Anton, sans-serif;
	font-size: 120px;
	font-weight: normal;
}

.top-content-intro {
	margin: 10px 0px;
	padding: 0px 0px;
}

.top-content-rndbtn {
	margin: 20px 0px;
	padding: 12px 0px;
	width: 300px;
	height: 50px;

	align-self: center;
	justify-items: center;

	font-size: 15px;
	font-weight: bolder;

	border: 2px solid var(--bluegreen-color, #66fcf1);
	border-radius: 5px;

	transition: 0.5s ease;
}

.top-content-rndbtn:hover {
	cursor: pointer;

	color: black;
	background-color: #66fcf1;
	border-color: #44eacf;
	box-shadow: 0px 0px 10px #44eacf;
}

/* Page description */
.page-description-container {
	margin: 30px 5%;
	padding: 0px 0px;
	width: 90%;
	height: 200px;

	display: flex;

	background-color: #303944;
	border-radius: 10px;
}

.page-description-title {
	margin: 0px 0px;
	padding: 0px 0px;
	width: 30%;
	height: auto;

	text-align: center;
	align-self: center;

	color: white;
	font-family: Source Sans Pro, sans-serif;
	font-size: 30px;
	font-weight: bolder;

	transition: 0.4s ease;
}

.page-description-content {
	margin: 0px 0px;
	padding: 0px 5%;
	width: 70%;
	height: auto;

	align-self: center;
	text-align: justify;

	color: white;
	font-family: Source Sans Pro, sans-serif;
	font-size: 20px;
	font-weight: normal;

	border-left: 2px solid white;

	transition: 0.4s ease;
}

/* Buttons div */
.buttons-container {
	margin: 40px 5%;
	padding: 0px 0px 40px 0px;
	width: 90%%;
	height: auto;

	justify-content: center;

	display: flex;
	flex-wrap: wrap;

	background-color: #303944;
	border-radius: 10px;
}

.buttons-title {
	margin: 40px 20px;
	padding: 0px 0px;
	width: 100%;
	height: auto;

	text-align: center;

	color: white;
	font-family: Source Sans Pro, sans-serif;
	font-size: 50px;
	font-weight: bolder;
}

.buttons-button {
	margin: 10px 10px;
	padding: 10px 10px;
	width: 500px;
	height: 100px;

	align-self: center;

	display: flex;

	border: 2px solid var(--bluegreen-color);
	border-radius: 10px;

	transition: 0.4s ease;
}

.buttons-button:hover {
	cursor: pointer;
	background: #414a55;
	border-color: #77fcf1;
	box-shadow: 0px 0px 10px #66fcf1;
}

.buttons-button > img {
	margin: 0px 10px;
	padding: 0px 0px;
	width: 60px;
	height: 60px;

	object-fit: cover;

	align-self: center;

	border-radius: 5px;
}

.buttons-description {
	margin: 0px 10px;
	padding: 0px 0px;

	align-self: center;

	display: flex;
	flex-direction: column;
}

.buttons-description > h2 {
	color: white;
	font-family: Source Sans Pro, sans-serif;
	font-size: 25px;
	font-weight: bolder;
}

.buttons-description > p {
	color: white;
	font-family: Source Sans Pro, sans-serif;
	font-size: 17px;
	font-weight: normal;
}

/* Footer */
.footer-container {
	margin: 50px 10% 10px 10%;
	padding: 20px 0px;
	width: 80%;
	height: auto;

	display: flex;
	flex-wrap: wrap;

	color: white;
	font-family: Source Sans Pro, sans-serif;
	font-size: 15px;
	font-weight: bold;

	border-top: 2px solid white;
}

/* Change logo size and remove logo text with smaller width */
@media screen and (max-width: 500px) {
	.header-logo {
		width: 40px;
		height: 40px;
	}
	.header-logo-text {
		display: none;
	}
}

/* Change between menu and links button with smaller width */
@media screen and (max-width: 800px) {
	.header-text-links {
		display: none;
	}

	.menu-container {
		display: flex;
	}
}

@media screen and (min-width: 800px) {
	.header-text-links {
		display: flex;
	}

	.menu-container {
		display: none;
	}
}

/* Change page description */
@media screen and (max-width: 800px) {
	.page-description-title {
		font-size: 20px;
	}

	.page-description-content {
		font-size: 15px;
	}
}